<html>
<head>
<title>WELCOME TO HTML</title>
<style>

   body {
      background-color: #4B0082;
      color: #FFFFFF;    
       }

    p {
        color: #FFFFFF;
       }

     #info {
        width: 200px;
        height: 280px;
        border: 2px solid #008080;
        border-radius: 7px;
            }

</style>

</head>

<body>  <!-- body tag begins here. This is a comment in HTML -->

<center>
--------------------------------------------HEADINGS SECTION --------------------------------------------------

<h1>WELCOME TO THIS CLASS</h1><br>
<p> {{ myvar }} </p><br>
<h2>WELCOME TO THIS CLASS</h2><br>
<h3>WELCOME TO THIS CLASS</h3><br>
<h4>WELCOME TO THIS CLASS</h4>

<br><br>
-----------------------------------------------DIV SECTION -------------------------------------------------------------
<div id="info"></div>

<br><br>
--------------------------------LINKS SECTION---------------------------------------- 
<br><br>
<a href="#">HOMEPAGE</a>
<a href="#">ABOUT US</a>
<a href="#">CONTACT</a>
<a href="http://www.facebook.com">FB</a>


<br><br>
------------------------------------------ PARAGRAPH SECTION ----------------------------------------------------
<p> First HTML Class. Get ready to learn front-end! </p>

<br><br>

---------------------------------------------TABLE SECTION------------------------------------------

<table border="1">
<caption> SOCCER PLAYERS </caption>
<tr> <td> Mason </td> <td> Mount </td>  </tr>
<tr> <td> Leo </td> <td> Messi </td> </tr>
<tr> <td> Romelu </td> <td> Lukaku </td> </tr>
</table>


---------------------------FORM SECTION -----------------------------------------------------

<form>
<br><br>
NAME: 	<input type="text"> <br><br>
USERNAME:  <input type="text"> <br><br>
PASSWORD:   <input type="password"> <br><br>
DOB:           <input type="date"> <br><br>
ADD PICTURE:      <input type="file"> <br><br>
DESCRIBE YOURSELF:   <textarea></textarea> <br><br>
<input type="reset" value="CLEAR FORM"> 
<input type="submit" value="SUBMIT FORM">
</form>  <!--form closes here-->


</center>
</body>  <!-- body tag closes here -->
</html>


